$page-background-color : white;
$item-background-color : rgb(248, 248, 248);
$message-background-color : rgb(248, 248, 248);
$error-background-color : rgb(250, 202, 202);
$item-text-color : black;
$header-text-color : black;
$message-text-color : gray;
$error-text-color : red;
$header-font : Arial, Helvetica, sans-serif;
$item-font : Arial, Helvetica, sans-serif;
