@import './variables';

body{
    background: $page-background-color;
}

.main-container
{
    width : 90%;
    min-height: 87vh;
    margin : 0 auto;
}
.header
{
    #{&}__text {
        color: $header-text-color;
        font-family: $header-font;
        text-align: left;
        font-size: 50px;
    }
    
}
.item-box
{
    background-color: $item-background-color;
    border: 1px solid black;
    padding: 20px; 
    width: 100%;
    height: 200px;
    margin : 0 auto;
    #{&}__paragraph {
        color: $item-text-color;
        font-family: $item-font;
        font-size: 20px;
        text-align: center;  

    }  

}
.footer
{

    
  width : 90%;
  margin : 0 auto;    
  #{&}__paragraph {
      text-align: center;  
    }          
}

.message-box
{
    display:none; 
    margin-top: 40px;
    background-color: $message-background-color;
    width: 100%;

    height: 70px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 20px;
    
    #{&}__text {
        text-align: left;
        color: $message-text-color;
    }
}

.error-box
{
    display:none; 
    margin-top: 20px;
    background-color: $error-background-color;
    width: 100%;

    height: 70px;
    border: 1px solid tomato;
    border-radius: 5px;
    padding: 20px;
    
    #{&}__text {
        text-align: left;
        color: $error-text-color;
    }
}