body {
  background: white;
}

.main-container {
  width: 90%;
  min-height: 87vh;
  margin: 0 auto;
}

.header .header__text {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  font-size: 50px;
}

.item-box {
  background-color: #f8f8f8;
  border: 1px solid black;
  padding: 20px;
  width: 100%;
  height: 200px;
  margin: 0 auto;
}

.item-box .item-box__paragraph {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.footer {
  width: 90%;
  margin: 0 auto;
}

.footer .footer__paragraph {
  text-align: center;
}

.message-box {
  display: none;
  margin-top: 40px;
  background-color: #f8f8f8;
  width: 100%;
  height: 70px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 20px;
}

.message-box .message-box__text {
  text-align: left;
  color: gray;
}

.error-box {
  display: none;
  margin-top: 20px;
  background-color: #facaca;
  width: 100%;
  height: 70px;
  border: 1px solid tomato;
  border-radius: 5px;
  padding: 20px;
}

.error-box .error-box__text {
  text-align: left;
  color: red;
}
/*# sourceMappingURL=main.css.map */